ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 8px 0px;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a, ul.pagination li span {
	display: block;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-left: -1px;
    background: #fff none repeat scroll 0 0;
}

ul.pagination li.active span{
    background-color: #3f51b5;
    color: white;
}

ul.pagination li.disabled span{
	background-color: rgba(0, 0, 0, 0.12);
	border: 1px solid rgba(0, 0, 0, 0.12);
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}